*{
	padding:0;
	margin:0;
	box-sizing:border-box;
	font-family:"poppins", sans-serif;
}
.container{
	width:80%;
	margin:auto;
	height:100vh;
}
.team-head p{
	font-size:36px;
	font-weight:700;
	padding:10px;
}
.team-head h4{
	display:inline-block;
	padding:10px;
}
.team-head h4::after{
	content: "";
    width: 120px;
    height: 2px;
    display: inline-block;
    background: #ffc451;
    margin: 4px 10px;
}
.team-col{
	width:100%;
	display:flex;
}
.team-card1, .team-card2, .team-card3, .team-card4{
	width:25%;
	height:60vh;
	border:1px solid #f3f3f3;
	box-shadow:0 0 5px #ccc;
	border-radius:5px;
	margin:10px;
}
.card-img img{
	width:100%;
	border-radius:5px;
}
.card-img{
	position:relative;
}
.card-social-icon{
	display:inline-block;
	padding:10px;
	background-color:rgba(243,243,243);
	border-radius:5px;
	text-decoration:none;
	font-size:20px;
	margin:0 3px;
}
.card-social-icon i{
	color:#000;
}
.card-icons{
	position:absolute;
	top:60%;
	left:12%;
	opacity:0;
}
.team-card1:hover .card-icons, .team-card2:hover .card-icons, .team-card3:hover .card-icons, .team-card4:hover .card-icons{
	opacity:1;
	position:absolute;
	top:70%; 
	left:12%; 
	transition:all ease-out 0.5s;
}
.card-social-icon:hover{
	background-color:#ffc451;
}
.card-cnt{
	padding:20px;
}
.card-cnt p{
	font-size:14px;
}
.card-cnt p, .team-head h4{
	opacity:0.5;
	padding:8px 0;
}